<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Task List</title>

    <link rel="stylesheet" type="text/css" href="/Css/todo.css" />

</head>

<body>
    <header>
        <h1>The ToDo Web App For Txon</h1>
        <div class="form-container">
            <form id="new-task">
                <input type="text" id="add-new-task" placeholder="What you are going to add ?" />

                <input type="submit" id="task-submit" value="Add ToDo" />
            </form>
        </div>
    </header>

    </section>
    <main>
        <section class="task-list">

            <div id="tasks">

            </div>


        </section>
    </main>
    <script src="/function/todo.js"></script>
</body>

</html>